---
import style from "../../styles/popup.module.css";
const text =
  "I consider myself a naturally curious and self-taught person, always exploring and studying everything that sparks my interest. As a technology and video game enthusiast, I ended up diving into the world of programming after the COVID-19 pandemic. In 2024, some lifelong friends encouraged me to return to studying technology and to explore all the possibilities that a career in this field could offer. So, in the middle of that year, I took my first steps with Python and JavaScript. I spent a few months deciding which path to follow, and eventually discovered that I felt truly connected to front-end development and the web world. The way I could see my code running in real time in the browser completely fascinated me! Since then, I’ve been fully dedicating myself to learning and exploring modern web development technologies, with the goal of becoming a full-stack web developer in the near future.";
---

<h2 class=`${style.title_popup}`>More about me...</h2>
<p class=`${style.text_popup}`>{text}</p>
