---
<<<<<<< HEAD
import BaseLayout from "../layout/BaseLayout.astro";
import Main from "../components/main/main.astro";
import About from "../components/main/about.astro";
import Certifications from "../components/main/certificates.astro";
import Tecnologies from "../components/main/tecnologies.astro";
import Projects from "../components/main/projects.astro";
import Footer from "../components/footer/footer.astro";
import "./global.css";
---

<BaseLayout>
  <section id="home" class="container">
    <Main />
  </section>
  <section id="about">
    <About />
  </section>
  <section id="certificates">
    <Certifications />
  </section>
  <section id="tecnologies">
    <Tecnologies />
  </section>
  <section id="projects">
    <Projects />
  </section>
  <Footer />
</BaseLayout>
=======
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import MiComponente from '../components/Micomponente.jsx';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Welcome />
	<html>
  <body>
    <h1>Bienvenido a mi sitio con Astro + React</h1>
    <MiComponente />
  </body>
</html>
</Layout>
>>>>>>> 3c1a903240e419804c046412144cdd1ca448322f
